Q1. What is a Database? Differentiate Between SQL and NoSQL Databases.
Database: An organized collection of data stored and managed electronically.
SQL Databases: Use structured queries, have a fixed schema, and are ACID compliant (e.g., MySQL, PostgreSQL).
NoSQL Databases: Flexible schema, varied data models, and eventual consistency (e.g., MongoDB, Redis).

Q2. What is DDL? Explain Why CREATE, DROP, ALTER, and TRUNCATE are Used with an Example.

DDL (Data Definition Language): Commands for defining database structure.
CREATE: Adds new objects. Example: CREATE TABLE Employees (ID INT PRIMARY KEY, Name VARCHAR(100));
DROP: Deletes objects. Example: DROP TABLE Employees;
ALTER: Modifies objects. Example: ALTER TABLE Employees ADD COLUMN Salary DECIMAL(10, 2);
TRUNCATE: Removes all records. Example: TRUNCATE TABLE Employees;
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an Example.

DML (Data Manipulation Language): Commands for managing data.
INSERT: Adds new records. Example: INSERT INTO Employees (ID, Name) VALUES (1, 'John');
UPDATE: Modifies records. Example: UPDATE Employees SET Age = 31 WHERE ID = 1;
DELETE: Removes records. Example: DELETE FROM Employees WHERE ID = 1;
Q4. What is DQL? Explain SELECT with an Example.

DQL (Data Query Language): Commands for querying data.
SELECT: Retrieves data. Example: SELECT Name, Age FROM Employees WHERE Age > 25;
Q5. Explain Primary Key and Foreign Key.

Primary Key: Unique identifier for records in a table (e.g., ID in Employees).
Foreign Key: Links records between tables (e.g., DeptID in Employees referencing DeptID in Departments).

Q6. Write a Python Code to Connect MySQL to Python. Explain the cursor() and execute() Method.
python
Copy code
import mysql.connector

conn = mysql.connector.connect(host="localhost", user="user", password="pass", database="db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM Employees")
for row in cursor.fetchall():
    print(row)
cursor.close()
conn.close()
cursor(): Creates a cursor object for executing queries.
execute(): Executes SQL commands.

Q7. Give the Order of Execution of SQL Clauses in an SQL Query.
FROM
JOIN
ON
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET